<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="stdout"/>
        </Root>

        <logger name="jdbc.sqlonly">
            <level value="INFO"/>
            <AppenderRef ref="stdout" />
        </logger>
        <logger name="jdbc.resultset">
            <level value="INFO"/>
            <AppenderRef ref="stdout" />
        </logger>
        <logger name="jdbc.resultsettable">
            <level value="INFO"/>
            <AppenderRef ref="stdout" />
        </logger>
        <logger name="jdbc.audit">
            <level value="INFO"/>
            <AppenderRef ref="stdout" />
        </logger>
        <logger name="log4jdbc.log4j2" level="INFO" additivity="false">
            <AppenderRef ref="stdout"/>
        </logger>
        <logger name="log4jdbc.debug" level="INFO" additivity="false">
            <AppenderRef ref="stdout"/>
        </logger>

    </Loggers>
</Configuration>
